@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Zen+Dots&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin", sans-serif;
}
body{
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #efefef;
}
.card .image-box {
    height: 200px;
}
.card .image-box img{
    height: 100px;
}
.card .profile-picture img{
    height: 40px;
    width: 40px;
}